*{
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#waybar {
    background-color: alpha(#101324, 0.5);
    border: 1px solid alpha(#374a68, 0.7);
    border-radius: 10px;
}

#workspaces button.active{
    background-color: #203552;
}

#pulseaudio {
    transition: background-color 200ms ease-in-out;
    border-radius: 10px;
    margin-right: 10px;
}

#pulseaudio:hover {
    background-color: #203552; 
}

#tray,
#clock {
    padding: 0 10px;
}
