*{
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
}

#waybar {
    background-color: alpha(#101324, 0.5);
    border: 1px solid alpha(#374a68, 0.7);
    border-radius: 10px;
    border-bottom: 5px solid #374168;
}

#workspaces button.active{
    background-color: #374168;
}

#pulseaudio {
    transition: color 300ms ease-in-out;
    border-radius: 10px;
    margin-right: 20px;
}

#pulseaudio:hover {
    color: #fff;
}

#custom-clock {
    margin-right: 10px;
}

#battery {
    margin-right: 10px;
}

#network {
    margin-right: 25px;
}
